<section class='edit-user-page'>
  <h2>Edit User</h2>

  <%= form_for(@user, url: user_path(@user), html: { method: :put }) do |f| %>
    <%= render "devise/shared/error_messages", resource: @user %>
    <div class="field">
      <%= f.label :email %>
      <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
    </div>
    <div class="field">
      <%= f.label :bio %>
      <%= f.text_field :bio %>
    </div>
    <div class="field">
      <%= f.label :photo %>
      <%= f.text_field :photo %>
    </div>
    <div class="field">
      <%= f.label :password %> <i>(leave blank if you don't want to change it)</i>
      <%= f.password_field :password, autocomplete: "new-password" %>
      <em><%= Devise.password_length.min %> characters minimum</em>
    </div>

    <div class="field">
      <%= f.label :password_confirmation %>
      <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
    </div>

    <div class="field">
      <%= f.label :current_password %> <i>(we need your current password to confirm your changes)</i>
      <%= f.password_field :current_password, autocomplete: "current-password" %>
    </div>

    <div class="actions">
      <%= f.submit "Update" %>
    </div>
  <% end %>

  <h3>Cancel my account</h3>

  <p>Unhappy? <%= link_to "Cancel my account", user_path(@user), method: :delete, data: { confirm: "Are you sure?" } %></p>
  <%= link_to "Back", :back %>
</section>
