<section class="flex flex-col items-center mt-20">
  <h2 class="text-2xl font-bold mb-6">Sign up</h2>
  <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>

  <div class="mb-4">
    <%= f.label :name, class: "block text-gray-700 font-bold mb-2" %>
    <%= f.text_field :name, autofocus: true, class: "appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" %>
  </div>

  <div class="mb-4">
    <%= f.label :bio, class: "block text-gray-700 font-bold mb-2" %>
    <%= f.text_field :bio, autofocus: true, class: "appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" %>
  </div>

  <div class="mb-4">
    <%= f.label :photo, class: "block text-gray-700 font-bold mb-2" %>
    <%= f.text_field :photo, autofocus: true, class: "appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" %>
  </div>

  <div class="mb-4">
    <%= f.label :email, class: "block text-gray-700 font-bold mb-2" %>
    <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" %>
  </div>

  <div class="mb-4">
    <%= f.label :password, class: "block text-gray-700 font-bold mb-2" %>
    <% if @minimum_password_length %>
      <em class="text-gray-500">(minimum <%= @minimum_password_length %> characters)</em>
    <% end %>
    <%= f.password_field :password, autocomplete: "new-password", class: "appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" %>
  </div>

  <div class="mb-4">
    <%= f.label :password_confirmation, class: "block text-gray-700 font-bold mb-2" %>
    <%= f.password_field :password_confirmation, autocomplete: "new-password", class: "appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" %>
  </div>

  <div class="flex items-center justify-between">
    <%= button_tag type: 'submit', class:'bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline' do %>
      <i class="fas fa-user-plus"></i> Sign Up
    <% end %>
  </div>
  <% end %>

  <%= render "devise/shared/links" %>
</section>