<section class="bg-gray-100 p-6 mt-20 mx-8">
  <div class="flex gap-8 mb-8 justify-around">
    <img class="w-20 h-20 object-cover rounded-full" src="<%= @user.photo %>">
    <div class="flex flex-col items-start justify-center">
      <p class="text-2xl font-bold"><%= @user.name %></p>
      <p class="text-gray-500">Number of posts: <%= @user.posts_counter || 0 %></p>
    </div>
    <div class="flex flex-col items-start justify-center">
      <p class="text-2xl font-bold">Bio</p>
      <p class="text-gray-500"><%=@user.bio%></p>
    </div>
  </div>
  <button class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-2 rounded my-4"><%= link_to "See all posts", "/users/#{@user.id}/posts"%></button>
  <h2 class="text-2xl font-bold my-4">Latest Posts</h2>
  <%@user.recent_3_posts.each do |post| %>
    <div class="bg-white p-4 rounded-lg mb-4 cursor-pointer transition duration-500 hover:bg-gray-200" onclick="window.location.href='/users/<%= @user.id %>/posts/<%= post.id %>'">
      <h2 class="text-lg font-bold mb-2"><%=post.title%></h2>
      <p><%=post.text%></p>
      <p class="text-gray-500 text-sm mt-2">Comments: <%=post.comments_counter || 0 %>, Likes: <%=post.likes_counter || 0 %></p>
    </div>
  <%end%>
</section>