<section class='post-form-page'>
  <%= link_to "Back to Homepage", root_path, class: "btn" %>
  <h2>Create a Post</h2>
  <%= form_with model: @comment do |form| %>
    <div class='post-form'>
      <%= form.label :title %>
      <%= form.text_field :title, class: "form-control" %>
      <%= form.label :text %>
      <%= form.text_area :text, class: "form-control" %>
      <%= form.submit "Create a Post", class: "btn" %>
    </div>
  <% end %>
</section>
