<!DOCTYPE html>
<html>
  <head>
    <title>BlogRails</title>
    <meta name='viewport' content='width=device-width,initial-scale=1'>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag 'application', 'data-turbo-track': 'reload' %>
    <%= javascript_importmap_tags %>
  </head>
  <body>
    <header class="fixed w-full h-14 top-0 bg-white shadow-md z-10 flex justify-between items-center p-8">
        <a href="/" class="font-bold text-xl">My Blog</a>
        <% if user_signed_in? %>
          <div class="flex items-center">
            <p class='mr-4'>
              <% current_hour = Time.now.hour %>
              <% if current_hour >= 5 && current_hour < 12 %>
                Good morning,
              <% elsif current_hour >= 12 && current_hour < 18 %>
                Good afternoon,
              <% else %>
                Good evening,
              <% end %>
              <%= current_user.name.capitalize %>
            </p>
            <% if current_user.role == "admin" %>
              <p class='mr-4'>(<%= current_user.role %>)</p>
            <% end %>
            <%= link_to edit_user_registration_path, class:'btn mr-4' do %>Change Password<% end %>
            <%= link_to destroy_user_session_path, class:'btn', method: :delete do %>Sign Out<% end %>
          </div>
        <% else %>
          <div>
            <%= link_to new_user_registration_path, class:'btn mr-4' do %>Sign Up<% end %>
            <%= link_to new_user_session_path, class:'btn' do %>Sign In<% end %>
          </div>
        <% end %>
    </header>
    <p class='notice'><%= notice %></p>
    <p class='alert'><%= alert %></p>
    <%= yield %>
  </body>
</html>
