<!DOCTYPE html>
<html>
  <head>
    <title>BlogRails</title>
    <meta name='viewport' content='width=device-width,initial-scale=1'>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.14.0/css/all.css" integrity="sha384-HzLeBuhoNPvSl5KYnjx0BT+WB0QEEqLprO+NBkkk5gbc67FTaL7XIGa2w1L0Xbgc" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css2?family=Poppins&display=swap" rel="stylesheet">
    <%= stylesheet_link_tag 'application', 'data-turbo-track': 'reload' %>
    <%= javascript_importmap_tags %>
  </head>
  <body>
    <header>
      <% if user_signed_in? %>
        <p class='user'>
          <i class="fas fa-user"></i>
          <%= current_user.name.capitalize %> 
          <% if current_user.role == "admin"  %>
            (<%= current_user.role =%>)
          <% end %>
        </p>
        <%= link_to destroy_user_session_path, class:'btn', method: :delete do %>
          <i class="fas fa-sign-out-alt"></i> Sign Out
        <% end %>
        <%= link_to edit_user_registration_path, class:'btn' do %>
          <i class="fas fa-user-edit"></i> Change Password
        <% end %>
        <button onclick='window.location.href="/"' class='btn'><i class="fas fa-home"></i> Home</button>
      <% else %>
        <%= link_to new_user_registration_path, class:'btn' do %>
          <i class="fas fa-user-plus"></i> Sign Up
        <% end %>
      <% end %>
    </header>
    <p class='notice'><%= notice %></p>
    <p class='alert'><%= alert %></p>
    <%= yield %>
  </body>
</html>
